{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Website demo </h1>
  <div>
    {% if websites%}
    <ol>
        {% for web in websites %}
        <li>website Information</li>
        <ul>
            <li>Name: {{web.name}}</li>
            <li>URL: {{web.url}}</li>
        </ul>
        {% endfor %}
    </ol>
    {% endif %}
</div>
  <img src="{% static "firstapp/images/h1.jpg "%}"
</body>
</html>